/* src/App.css */

html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh; /* Ensure root covers at least the full height of the viewport */
}

.app.light {
  --bg-color: white;
  --text-color: black;
  --box-bg-color: #f1f1f1;
  --box-text-color: black;
  --box-hover-bg-color: #e0e0e0;
}

.app.dark {
  --bg-color: #333;
  --text-color: white;
  --box-bg-color: #444;
  --box-text-color: white;
  --box-hover-bg-color: #555;
}

body, .app {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.content {
  min-height: calc(100vh - 56px); /* Adjust height based on the height of the navbar */
  padding: 20px;
  background-color: var(--bg-color); /* Applies the background color */
  color: var(--text-color); /* Applies the text color */
  transition: background-color 0.3s, color 0.3s;
}
